@mixin trim-v-margins {
    &:first-child {
      margin-top: 0;
    }
  
    &:last-child {
      margin-bottom: 0;
    }
  }

.center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
    @include trim-v-margins;
  }
  